
@import "tailwindcss";



@theme {
  --color-primary: #A2625E;
  --color-secondary: #F1E7E7;
  --color-tertiary: #909090;
  --color-gradient: linear-gradient(86.02deg, rgba(162, 98, 94, 0.75) 0%, rgba(197, 118, 113, 0.75) 96.4%);

  
}

@layer components {
  .container {
    @apply px-5 sm:px-0;
  }
}